* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin: 50px 0;
    font-weight: normal;
}

.accordion{
    width: 600px;
    margin: 0 auto;
}

h3{
    background-color: #ddd;
    padding: 12px;
    cursor: pointer;
    position: relative;
    margin-top: 5px;
}

/* css로 화살표 만들기 */
h3::after{
    content: '';
    position: absolute;
    top: 18px;
    right: 16px;
    width: 10px;
    height: 10px;
    border-right: 2px solid #333;
    border-bottom: 2px solid #333;
    transform: rotate(-2115deg);
    transition: all 1s;
}

h3.active::after{
    transform: rotate(1305deg);
    
}

.text {
    background-color: #eee;
    padding: 12px;
    display: none;
}



