*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

h1{
    text-align: center;
    margin: 50px 0;
}

.swiper_01 .swiper-slide{
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightpink;
    font-size: 80px;
}

.swiper_01 .swiper-slide:first-child{
    background-color: lightblue;
}

.swiper_01 .swiper-slide:last-child{
    background-color: lightgreen;
}

.swiper_01 .swiper-button-next, .swiper_01 .swiper-button-prev {
    background-color: rgba(255 , 255, 255, 0.8);
    width: 50px;
    height: 50px;
    border-radius: 100px;
} 

.swiper_01 .swiper-button-next:after, .swiper_01 .swiper-button-prev:after {
    font-family: swiper-icons;
    font-size: var(--swiper-navigation-size);
    text-transform: none!important;
    letter-spacing: 0;
    font-variant: initial;
    line-height: 1;
    
    font-size: 24px;
    /* color: red; */
    color: #111;
    font-weight: bold;
} 



/* 스와이퍼 2 */
.container{
    width: 1180px;
    margin: 100px auto;
}

.title_area{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
}

.swiper_02 {
    padding-bottom: 40px;
    /* padding-top: 40px; */
}

.swiper_02 .photo{
    width: 280px;
    height: 280px;
    background-color: #ddd;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper_02 .titles{
    padding-top: 10px;
}

.swiper_02 .swiper-pagination{
    top:initial;
    bottom: 0;
    /* background-color: #000; */
}

.swiper_02 .swiper-pagination-progressbar-fill{
    background-color: #666;
}

.swiper_02 .swiper-button-next {
    right: 0;
    top: 20px;
}
.swiper_02 .swiper-button-prev {
    left: initial;
    right: 40px;
    top: 20px;
}

.swiper_02 .swiper-button-next::after,
.swiper_02 .swiper-button-prev::after {
    font-size: 24px;
    font-weight: bold;
    color: #111;
}